In [1]:
print("hello - I am Irfan")

hello - I am Irfan

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Numpy
4. Scikit-Learn

# Data Science Tools

Three development environment open source tool


| No.| Tools |
| --- | --- |
| 1. | Jypyter Notebook |
| 2. | R Studio |
| 3. | Anaconda |
| 4. | Git |
| 5. | Knime |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
Minutes = 200

Hours = Minutes / 60

print(Hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- List Libraries used by Data Scientists
- Development environment open source tool
- Exmple of Arithmetic Expressions

## Author
Name : Irfan Pathan